@section ContentHeader
{

}

@section Styles {

    <link href="~/adminassets/plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" />

}

@model MenuAuthIndexVm
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Menu Authorization List</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="tblMenuAuths" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Role Name</th>
                        <th>Menu Name</th>
                        <th>Insert Authorization</th>
                        <th>Update Authorization</th>
                        <th>Delete Authorization</th>
                        <th>Select Authorization</th>
                        <th>Active</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>


<form id="frmAddMenuAuth">
    <div class="modal fade" id="modalAddMenuAuth">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Menu Authorization Panel</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="card-body p-0">
                        <div class="form-group">
                            <label>Role Name</label>
                            @* <input type="text" class="form-control" asp-for="RoleName" placeholder="Role Name"> *@
                            <select asp-for=RoleName asp-items="@Model.RoleNameList" class="form-control select2">
                            </select>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="form-group">
                            <label>Menu Name</label>
                            @* <input type="text" class="form-control" asp-for="MenuName" placeholder="Menu Name"> *@
                            <select asp-for=MenuName asp-items="@Model.MenuNameList" class="form-control select2">
                            </select>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="form-group">
                            <label>Insert Authorization</label>
                            <select class="form-control" asp-for="InsertAuthorization" name="InsertAuthorization">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="form-group">
                            <label>Update Authorization</label>
                            <select class="form-control" asp-for="UpdateAuthorization" name="UpdateAuthorization">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="form-group">
                            <label>Delete Authorization</label>
                            <select class="form-control" asp-for="DeleteAuthorization" name="DeleteAuthorization">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="form-group">
                            <label>Select Authorization</label>
                            <select class="form-control" asp-for="SelectAuthorization" name="SelectAuthorization">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
                    <!-- /.card-body -->

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                    <button type="button" id="btnAddMenuAuth" class="btn btn-primary">ADD</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</form>

<form id="frmUpdateMenuAuth">
    <div class="modal fade" id="modalUpdateMenuAuth">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Menu Authorizaton Panel</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body p-0">
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="HId">
                            <label>Role Name</label>
                            <select id="HRoleName" asp-items="@Model.RoleNameList" class="form-control select2">
                            </select>
                        </div>
                    </div>

                    <div class="card-body p-0">
                        <div class="form-group">
                            <label>Menu Name</label>
                            <select id="HMenuName" asp-items="@Model.MenuNameList" class="form-control select2">
                            </select>
                        </div>
                    </div>

                    <div class="card-body p-0">
                        <div class="form-group">
                            <label>Insert Authorization</label>
                            <select class="form-control" id="HInsertAuthorization" name="HInsertAuthorization">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>

                    <div class="card-body p-0">
                        <div class="form-group">
                            <label>Update Authorization</label>
                            <select class="form-control" id="HUpdateAuthorization" name="HUpdateAuthorization">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>

                    <div class="card-body p-0">
                        <div class="form-group">
                            <label>Delete Authorization</label>
                            <select class="form-control" id="HDeleteAuthorization" name="HDeleteAuthorization">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>

                    <div class="card-body p-0">
                        <div class="form-group">
                            <label>Select Authorization</label>
                            <select class="form-control" id="HSelectAuthorization" name="HSelectAuthorization">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>




                    <!-- /.card-body -->
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                    <button type="button" id="btnUpdateMenuAuth" class="btn btn-primary">UPDATE</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</form>


@section Scripts {
    <script src="~/adminassets/js/custom/menuauth.js"></script>
}










