@model SuccessfulAddVm


<div class="container">
    <div class="alert alert-success">
        <p>Your post was added successfully!</p>
        <a href="/Home/Posts/@Model.PostId">See your post!</a>
    </div>
</div>