@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_footer</title>
</head>
<body>

    <h4>Urun</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>

