@using FoodieBlog.MVCCoreUI.Filters
@inject ISessionManager _session

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-1 col-6 order-md-1 order-1">
                    <div class="header__humberger">
                        <i class="fa fa-bars humberger__open"></i>
                    </div>
                </div>
                <div class="col-lg-8 col-md-10 order-md-2 order-3">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/Home/Index">Home</a></li>
                            @* TODO: Redirect to create a recipe if logged in from this button *@
                            <li><a href="/CreatePost/Index">Create a Recipe!</a></li>
                            <li class="dropdown">
                                <a href="#">Account Settings</a>
                                <ul class="dropdown__menu">
                                    <li><a href="/Account/Profile">Profile</a></li>
                                    <li><a href="/Account/MyPosts">Posts</a></li>
@*                                     <li><a href="./categories-list.html">Categories List</a></li>
                                    <li><a href="./single-post.html">Single Post</a></li>
                                    <li><a href="./signin.html">Sign In</a></li>
                                    <li><a href="./404.html">404</a></li>
                                    <li><a href="./typography.html">Typography</a></li> *@
                                </ul>
                            </li>
                            <li><a href="./about.html">About</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2 col-md-1 col-6 order-md-3 order-2">
                    <div class="header__search">
                        <i class="fa fa-search search-switch"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__btn">
                    <a href="/Account/Index" class="primary-btn">Subscribe</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="header__logo">
                    <a href="/Home/Index"><img src="/frontassets/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__social">
                    @* <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-envelope-o"></i></a> *@
                    @{
                        if (_session.ActiveUser != null && !string.IsNullOrEmpty(_session.ActiveUser.UserName))
                        {
                            <i>Hello, @_session.ActiveUser.UserName</i>
                            <a href="/Account/Logout/"><i class="fa fa-sign-out"></i></a>
                        }
                        else{
                            <i>Please log in to your account</i>
                        }
                    }

                    @* TOOD: Log out tuşu ekle *@
                    
                </div>
            </div>
        </div>
    </div>
</header>