<!-- Sign In Section Begin -->
<div class="signin">
    <div class="signin__warp">
        <div class="signin__content">
            <div class="signin__logo">
                <a href="#"><img src="/frontassets/img/siign-in-logo.png" alt=""></a>
            </div>
            <p>
                A place where you can share your creative recipes, comfort foods that has a warm place in your heart,
                quick meals to prepare when you are in a rush, a place where cooking is special for anyone involved.
            </p>
            <div class="signin__form">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="false">
                            Sign up
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">
                            Sign in
                        </a>
                    </li>
                    <li class="nav-item">
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                        <div class="signin__form__text">
                            <p>with your social network :</p>
                            <div class="signin__form__signup__social">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google"><i class="fa fa-google"></i></a>
                            </div>
                            <div class="divide">or</div>
                            @await Component.InvokeAsync("signup")
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-2" role="tabpanel">
                        <div class="signin__form__text">
                            <p>with your social network :</p>
                            <div class="signin__form__signup__social">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google"><i class="fa fa-google"></i></a>
                            </div>
                            <div class="divide">or</div>
                            @await Component.InvokeAsync("signin")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sign In Section End -->
@section Hero {

    @await Component.InvokeAsync("hero")

}

@section Scripts {
    <script>
        // $(document).ready(function(){
        //     $("#btnSignup").click(function(){
        //         var signup = $("#frmSignup");
        //         var token = $("[name='__RequestVerificationToken']").val();

        //         if(signup.valid()){
        //             $.ajax({
        //                 url: "/Account/SignUp",
        //                 method: "post",
        //                 dataType: "json",
        //                 data: signup.serialize() + "&__RequestVerificationToken=" + token,
        //                 success: function(r) {
        //                         if (r.result) {
        //                         Swal.fire({
        //                             title: "İşlem Başarılı",
        //                             text: "Kayıt İşlemini Tamamlandı. Lütfen Mail Onayı İçin Emailinizi Kontrol Ediniz.",
        //                             icon: "success"
        //                         });
        //                         }
        //                         else {
        //                         //HATALARI DİV yerine ilgili validation for nesnelerinde göster...

        //                         var errorlist = "<ul>"

        //                         for (var i = 0; i < r.errors.length; i++) {

        //                             errorlist += "<li>" + r.errors[i] + " </li>"
        //                         }

        //                         errorlist += "</ul>";

        //                         $("#errorpanel").html(errorlist);
        //                     }

        //                 },
        //                 error: function() {

        //                 }
        //             })
        //         }
        //     });
        // });

            // $(document).ready(function(){
            //     $("#btnSignup").click(function(e){
            //     e.preventDefault(); // Prevent default form submission

            //     var signup = $("#frmSignup");
            //     var token = $("[name='__RequestVerificationToken']").val();

            //         $.ajax({
            //             url: "/Account/SignUp",
            //             method: "post",
            //             dataType: "json",
            //             headers: {
            //                 "RequestVerificationToken": token
            //             },
            //             data: signup.serialize(),
            //             success: function(r) {
            //                 console.log(r);
            //             },
            //             error: function() {
            //                 console.log("Error");
            //             }
            //         });
            //     });
            // });



    </script>


}                                