@section ContentHeader
{

}

@section Styles {

    <link href="~/adminassets/plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" />

}

@model UserRoleIndexVm
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">User Role List</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="tblUserRoles" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>User Name</th>
                        <th>Role Name</th>
                        <th>Active</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>


@* <form id="frmAddUserRole">
    <div class="modal fade" id="modalAddUserRole">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add User Role Panel</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="card-body p-0">
                        <div class="form-group">
                            <label>UserRole Name</label>
                            <input type="text" class="form-control" asp-for="UserRoleName" placeholder="UserRole Name">
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="form-group">
                            <label>Role Name</label>
                            <input type="text" class="form-control" asp-for="RoleName" placeholder="UserRole Name">
                        </div>
                    </div>
                    <!-- /.card-body -->




                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                    <button type="button" id="btnAddUserRole" class="btn btn-primary">ADD</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</form> *@

<form id="frmUpdateUserRole">
    <div class="modal fade" id="modalUpdateUserRole">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update UserRole Panel</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @* nedense ajaxtan bu roller gelmiyor *@
                    <div class="card-body p-0">
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="HId">
                            <label>User Name</label>
                            <p id="HUserName" class="alert alert-secondary"></p>
                        </div>

                        <div class="form-group">
                            <label>Role Name</label>
                            <select id="HRoleName" asp-items="@Model.RoleList" class="form-control custom-select">
                            </select>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                    <button type="button" id="btnUpdateUserRole" class="btn btn-primary">UPDATE</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</form>


@section Scripts {
    <script src="~/adminassets/js/custom/userrole.js"></script>
}










